@font-face {
  font-family: 'ConnectTheDots';
  src: local('ConnectTheDots'),
    url(./src/fonts/ConnectTheDots-9Y472.woff) format('woff');
}

p{
  color: #F8F8FF;
  text-align: center;
}
*>*{
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 32px;
  max-width: 1440px;
}

button {
  color: #F8F8FF;
}

/******************/
/* ModalV2 styling*/
/******************/
.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgb(203, 205, 218, 0.8);
  z-index: 10;
  transition: opacity 200ms;
  opacity: 0;
  pointer-events: none;
}

.modal-overlay.open {
  opacity: 1;
  pointer-events: all;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 16px));
  width: calc(100% - 32px);
  max-width: 350px;
  max-height: calc(100% - 32px);
  padding: 16px;
  border-radius: 12px;
  background-color: #242424;
  z-index: 10;
  overflow: auto;
  transition:
    opacity 200ms,
    transform 200ms;
  opacity: 0;
  pointer-events: none;
}

.modal-content.open {
  transform: translate(-50%, -50%);
  opacity: 1;
  pointer-events: all;
}

.modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition:
    color 200ms,
    background-color 200ms;
}

.modal-close-button:hover {
  background-color: rgb(203, 205, 218);
  color: white;
}


form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  
}


/************************/
/*Search results styles:*/
/************************/
.movie-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  gap: 16px;
  margin-top: 70px;;
  align-items: flex-start;
}

/************************/
/*Filter results styles:*/
/************************/

.filter-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  margin-bottom: 50px;
  align-items: flex-start;
}

.btn-filterpage-container{
  display: flex;
  justify-content: center;
}

.btn-form{
  width: 200px;
  margin-top: 20px;
}

.btn-recommend{
  margin-bottom: 100px;
}

.container-form{
  display: flex;
  justify-content: center;
}

.filter-form {
  width: 300px; 
  padding: 20px;
  margin: 20px;  
}

label{
  color: #F8F8FF;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

option{
  text-align: center;
}


/***********************/
/*Movie Component Style*/
/***********************/
.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 200ms;
  width: fit-content;
  align-self: center;
}

.movie-name {
  color: #F8F8FF;
  text-align: center;
  display: flex;
  align-items: center;
  height: 70px;
  max-width: 300px;
  font-size: 24px;
  transition: box-shadow 200ms;
}
.movie-image  {
  height: 450px;
  width: 300px;
  transition: box-shadow 200ms;
}

.movie-card:not(.hover-disabled):hover {
  transform: scale(1.02);
  cursor: pointer;
}

.movie-card:not(.hover-disabled):hover .movie-image{
  box-shadow: 0px 0px 8px 4px #FFDAB9;
  
}
.movie-card:not(.hover-disabled):hover .movie-name{
  text-shadow: 0 0 20px #FFDAB9;
}

/*******************/
/*Create Movie Page*/
/*******************/
.page-title {
  color: #F8F8FF;
  text-align: center;
  font-size: 45px;
}

.create-form {
  width: 50%; 
  padding: 20px; 
}

/*****************/
/* Playlit style:*/
/*****************/
.playlist{
  color: #F8F8FF;
  font-weight: bolder;
  background-color: #242424c9;
  padding: 1rem;
  margin: 2rem auto;
  width: 20%;
}

.playlist:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 8px 4px #FFDAB9;
}

.playlist-name{
  text-align: center;
}

/****************/
/*Profile style:*/
/****************/
.welcome {
  color: 	#FFFFE0;
  text-shadow: 0 0 20px 	#F0E68C;
  padding: 2rem;
}

.user-movies-title {
  font-size: 30px;
  color: #FFFFE0;
  padding: 2rem;
}

.user-movies-list {
display: flex;
flex-wrap: wrap;
gap: 150px;
}



/***************/
/*NavBar style:*/
/***************/

.nav-group {
  display: flex;
  align-items: center;
}

.nav-bar {
  color: #F8F8FF;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: space-evenly;
}

.nav-bar a {
  color: #F8F8FF;
  padding-bottom: 4px;
  transition: border-bottom 150ms;
  border-bottom: 1px solid transparent;
}

.nav-bar a:hover {
  color: #F8F8FF;
  border-bottom: 1px solid white;

}

.nav-bar a:not(:first-child) {
  margin-left: 24px;
}


.btn-session {
  margin: 3px;
  height: 30px;
  padding: 5px;
  font-size: 12px;
  width: 60px;
  color: #F8F8FF;
}

.btn-session-container{
  display: flex;
  justify-content: end;
  
}

/*****************/
/*HomePage style:*/
/*****************/

.home-img-container{
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.home-img{
  margin-left: 80px;
}

.container-search{
  display: flex;
  justify-content: center;
  margin-top: 40px;

}

.search-bar{
  width: 70%;
  height: 20px;
  padding: 20px;
  align-items: center;
  gap: 20px;
}

.btn-search {
   width: 250px;
}

.app-name{
  color: #FFDAB9;
  font-family: ConnectTheDots;
  text-align: center;
  margin-top: 40px;
  font-size: 100px;
  text-shadow: 0 0 20px 	#F0E68C
}

.favorite-icon {
  margin-top: 50px;
  background-color: #FFDAB9; 
  color: #390505;
  padding: 5px; 
  border-radius: 5px; 
  cursor: pointer;
  width: 200px;
  text-align: center;
}

.movie-details-text{
color: #F8F8FF;
text-align: center;
}

.btn-edit-delete-container{
  display: flex;
  justify-content: center;
  gap: 15px;
}


/**************/
/*Modal Style:*/
/**************/

.modal{
  background-color: #4f4e4e;
}

.modal-name {
  color: #F8F8FF;
  text-align: center;
  margin-top: 150px;
}

.list-options{
  display: flex;
  justify-content: center;
  margin-top: 0px;
}


.create-moodlist-form{
  width: 500px;
  height: 30px;
  margin-top: 20px;
  text-align: center;
}

.btn-please-login-container{
  display: flex;
  justify-content: center;
}

.btn-please-login{
margin-top: 150px;
font-size: 20px;
color: #F8F8FF;
}
